In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
golfDF=pd.read_csv(r'c:\pyml_scripts\golf.csv')
golfDF

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [3]:
outlook=golfDF.groupby(['outlook','play']).size()
outlook

outlook   play
overcast  yes     4
rainy     no      2
          yes     3
sunny     no      3
          yes     2
dtype: int64

In [4]:
temp=golfDF.groupby(['temp','play']).size()
humidity=golfDF.groupby(['humidity','play']).size()
windy=golfDF.groupby(['windy','play']).size()
play=golfDF.play.value_counts()

In [5]:
print(play)

yes    9
no     5
Name: play, dtype: int64

In [6]:
print(outlook)
print('-----------------------')
print(temp)
print('-----------------------')
print(humidity)
print('-----------------------')
print(windy)
print('-----------------------')
print(play)

outlook   play
overcast  yes     4
rainy     no      2
          yes     3
sunny     no      3
          yes     2
dtype: int64
-----------------------
temp  play
cool  no      1
      yes     3
hot   no      2
      yes     2
mild  no      2
      yes     4
dtype: int64
-----------------------
humidity  play
high      no      4
          yes     3
normal    no      1
          yes     6
dtype: int64
-----------------------
windy  play
False  no      2
       yes     6
True   no      3
       yes     3
dtype: int64
-----------------------
yes    9
no     5
Name: play, dtype: int64

p(rainy|play=yes) => [p(play=yes|rainy)*p(play=yes)]/p(rainy)
p(play=yes|rainy)=3/9
p(play=yes)=9/14
p(rainy)=5/14
p(rainy|play=yes)=[(3/9)*(9/14)]/(5/14)=3/5=0.6

p(rainy|play=no) => [p(play=no|rainy)*p(play=no)]/p(rainy)
p(play=no|rainy)=2/5
p(play=no)=5/14
p(rainy)=5/14
p(rainy|play=no)=[(2/5)*(5/14)]/(5/14)=2/5=0.4

In [7]:
golfCT=pd.crosstab(golfDF['outlook'],golfDF['play'],margins=True)
golfCT

play      no  yes  All
outlook
overcast   0    4    4
rainy      2    3    5
sunny      3    2    5
All        5    9   14

In [8]:
golfCT.div(golfCT['All'],axis=0)

play            no       yes  All
outlook
overcast  0.000000  1.000000  1.0
rainy     0.400000  0.600000  1.0
sunny     0.600000  0.400000  1.0
All       0.357143  0.642857  1.0

In [9]:
pd.crosstab(golfDF['temp'],golfDF['play'],margins=True)

play  no  yes  All
temp
cool   1    3    4
hot    2    2    4
mild   2    4    6
All    5    9   14

In [10]:
pd.crosstab(golfDF['humidity'],golfDF['play'],margins=True)

play      no  yes  All
humidity
high       4    3    7
normal     1    6    7
All        5    9   14

In [11]:
pd.crosstab(golfDF['windy'],golfDF['play'],margins=True)

play   no  yes  All
windy
False   2    6    8
True    3    3    6
All     5    9   14

In [12]:
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import *
from sklearn.preprocessing import LabelEncoder

In [13]:
golfDF=pd.read_csv(r'c:\pyml_scripts\golf.csv')
golfDF

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [14]:
le_outlook=LabelEncoder().fit(golfDF['outlook'])
le_outlook.classes_

array(['overcast', 'rainy', 'sunny'], dtype=object)

In [15]:
le_outlook_encoder=le_outlook.transform(golfDF['outlook'])
le_outlook_encoder

array([2, 2, 0, 1, 1, 1, 0, 2, 2, 1, 2, 0, 0, 1], dtype=int64)

In [16]:
#對golfDF增加一個column:outlook_encoder
golfDF['outlook_encoder']=le_outlook_encoder
golfDF

     outlook  temp humidity  windy play  outlook_encoder
0      sunny   hot     high  False   no                2
1      sunny   hot     high   True   no                2
2   overcast   hot     high  False  yes                0
3      rainy  mild     high  False  yes                1
4      rainy  cool   normal  False  yes                1
5      rainy  cool   normal   True   no                1
6   overcast  cool   normal   True  yes                0
7      sunny  mild     high  False   no                2
8      sunny  cool   normal  False  yes                2
9      rainy  mild   normal  False  yes                1
10     sunny  mild   normal   True  yes                2
11  overcast  mild     high   True  yes                0
12  overcast   hot   normal  False  yes                0
13     rainy  mild     high   True   no                1

In [17]:
golfDF['temp_encoder']=LabelEncoder().fit_transform(golfDF['temp'])
golfDF['humidity_encoder']=LabelEncoder().fit_transform(golfDF['humidity'])
golfDF['windy_encoder']=LabelEncoder().fit_transform(golfDF['windy'])
golfDF

,outlook,temp,humidity,windy,play,outlook_encoder,temp_encoder,humidity_encoder,windy_encoder
0,sunny,hot,high,False,no,2,1,0,0
1,sunny,hot,high,True,no,2,1,0,1
2,overcast,hot,high,False,yes,0,1,0,0
3,rainy,mild,high,False,yes,1,2,0,0
4,rainy,cool,normal,False,yes,1,0,1,0
5,rainy,cool,normal,True,no,1,0,1,1
6,overcast,cool,normal,True,yes,0,0,1,1
7,sunny,mild,high,False,no,2,2,0,0
8,sunny,cool,normal,False,yes,2,0,1,0
9,rainy,mild,normal,False,yes,1,2,1,0
10,sunny,mild,normal,True,yes,2,2,1,1
11,overcast,mild,high,True,yes,0,2,0,1
12,overcast,hot,normal,False,yes,0,1,1,0
13,rainy,mild,high,True,no,1,2,0,1

In [18]:
#擷取golfDF數值化的特徵部分
#[:,5:]
#[rows,cols]
X=golfDF.iloc[:,5:]
X

    outlook_encoder  temp_encoder  humidity_encoder  windy_encoder
0                 2             1                 0              0
1                 2             1                 0              1
2                 0             1                 0              0
3                 1             2                 0              0
4                 1             0                 1              0
5                 1             0                 1              1
6                 0             0                 1              1
7                 2             2                 0              0
8                 2             0                 1              0
9                 1             2                 1              0
10                2             2                 1              1
11                0             2                 0              1
12                0             1                 1              0
13                1             2                 0              1

In [19]:
y=golfDF['play']
y

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: play, dtype: object

In [20]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [21]:
X_train

    outlook_encoder  temp_encoder  humidity_encoder  windy_encoder
11                0             2                 0              1
10                2             2                 1              1
9                 1             2                 1              0
4                 1             0                 1              0
2                 0             1                 0              0
0                 2             1                 0              0
7                 2             2                 0              0
3                 1             2                 0              0
6                 0             0                 1              1

In [22]:
y_train

11    yes
10    yes
9     yes
4     yes
2     yes
0      no
7      no
3     yes
6     yes
Name: play, dtype: object

In [23]:
clfG = GaussianNB() 
clfG.fit(X_train,y_train)
clfG.score(X_test,y_test)

0.4

In [24]:
predG=clfG.predict(X_test)
predG

array(['yes', 'yes', 'yes', 'yes', 'yes'], dtype='<U3')

In [25]:
y_test.values

array(['no', 'yes', 'yes', 'no', 'no'], dtype=object)

In [26]:
pd.crosstab(y_test.values,predG,rownames=['Actual'],colnames=['Predicated'],margins=True)

Predicated  yes  All
Actual
no            3    3
yes           2    2
All           5    5

In [27]:
clfM = MultinomialNB() 
clfM.fit(X_train,y_train)
clfM.score(X_test,y_test)

0.4

In [28]:
clfB=BernoulliNB()
clfB.fit(X_train,y_train)
clfB.score(X_test,y_test)

0.4

#請加上Decision Tree進行學習

In [29]:
from sklearn import tree

clfT = tree.DecisionTreeClassifier()
clfT.fit(X_train, y_train)
print("訓練準確度:",clfT.score(X_train, y_train))
print("測試準確度:",clfT.score(X_test, y_test))

訓練準確度: 1.0
測試準確度: 0.2